[submodule "modules/npctransport"]
	path = modules/npctransport
	url = https://github.com/salilab/npctransport.git
[submodule "components/pathway_mapping"]
	path = components/pathway_mapping
	url = https://github.com/salilab/pathway_mapping.git
[submodule "modules/pmi1"]
	path = modules/pmi1
	url = https://github.com/salilab/pmi.git
	branch = legacy-pmi1
[submodule "modules/bayesianem"]
	path = modules/bayesianem
	url = https://gitlab.pasteur.fr/rpellari/bayesianem.git
