[submodule "modules/rmf/dependency/RMF_source"]
	path = modules/rmf/dependency/RMF_source
	url = git://github.com/salilab/rmf.git

[submodule "tools/git/gitflow"]
	path = tools/git/gitflow
	url = https://github.com/salilab/gitflow_imp.git
