code {
    background-color: #F7F7F7;
    padding: 2px;
    border-radius: 2px;
}

/* Hide line numbers in Python examples */
span.lineno {
    display: none;
}

/* Make long lines scroll (rather than wrap) and make a nicer background and
   border */
div.fragment, pre.fragment {
    padding: 5px;
    background-color: #F7F7F7;
    border: 1px dashed #666;
    overflow: auto;
    font-size: 13px;
    line-height: 1;
}
div.line {
    white-space: pre;
}

/* Use same fonts as the rest of the website */
body, table, div, p, dl {
    color: #666;
    font: 100% Arial,Helvetica,sans-serif;
}

/* Don't put navigation right against the bottom of the page */
body {
    margin-bottom: 1em;
}

/* Style doxygen title like our h1 title */
div.title {
    margin-top: 0px;
    font-weight: bold;
    font-size: 180%;
    color: #FF7C02;
}
div.header {
    border-bottom: none;
    background-image: none;
    background-color: #FFF;
}

div.tabs {
    padding-bottom: 10px;
    border-bottom: 1px solid #666;
    margin-bottom: 15px;
}

.tabs {
    background-image: none;
}

.tablist li {
    background-image: none;
}

.tablist a {
    background-image: none;
}

.tablist li.current a {
    background-image: none;
    color: #283A5D;
    text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.9);
}

.tablist li a:hover {
    background-image: url('tab_a.png');
    background-repeat:repeat-x;
    color: #fff;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 1.0);
}

.tablist li, li.current {
    background-image: none;
}

hr.footer {
    margin-top: 0.5em;
    border-color: #666;
}

/* Hide some elements which look unnecessary with our layout */
div.navpath {
    display: none;
}

div#titlearea {
    display: none;
}

a.el {
    font-weight: normal;
}

/* Fix odd spacing for h1 titles */
div.textblock h1 {
    margin-top: 0.8em;
}

/* Increase spacing for lists */
.textblock li {
  padding-top: 0.3em;
  padding-bottom: 0.15em;
}

div.doxnavlinks {
  text-align: right;
}

div.doxnavlinks img {
  height: 1.4em;
}

div.doxnavlinks a {
  margin-left: 1.0em;
}

.doxversion {
  font-size: small;
  font-style: italic;
  vertical-align: top;
}
