[files]
monomer =
surface = input/1oel_A.pdb.ms
prot_lib = chem.lib
output = multifit.output
model = asmb.model

[symmetry]
cn = 7
dn = 1

[scoring]
small_interface_ratio = 0.1
max_penetration = -5.0
threshold = 0.5
weight1 = -8
weight2 = -4
weight3 = 0
weight4 = 1
weight5 = 0

[density]
map = input/1oel_10.mrc
resolution = 10.0
spacing = 1.5
origin_x = -130.5
origin_y = -84
origin_z = -87
threshold = 20
pca_matching_threshold = 7.5

[clustering]
axis_angle_threshold = 18
min_size = 1
distance = 2.0

[base]
min_distance = 5.0
max_distance = 50.0

[grid]
step = 0.5
max_distance = 6.0
volume_radius = 6.0

[surface]
threshold = 1.5

[fitting]
solutions = 10
