# File Names:
log-file multifit.log

# Symmetry Parameters:
#  cn_symm_deg <Cyclic symmetry (trimer=3, tetramer=4, etc.)>
#  dn_symm_deg <Dihedral symmetry>
cn_symm_deg 3
dn_symm_deg 1

# Scoring Parameters:
#  scoreParams <small_interfaces_ratio> <max_penetration> <ns_thr>
#              <w1 w2 w3 w4 w5>
#  <small_interfaces_ratio> - the ratio of the low scoring transforms to
#                             be removed
#  <max_penetration> - maximal allowed penetration between molecule surfaces
#  <ns_thr> - normal score threshold
#  <w1 w2 w3 w4 w5> - scoring weights for ranges:
#              [-5.0,-3.6],[-3.6,-2.2],[-2.2,-1.0],[-1.0,1.0],[1.0-up]
scoreParams 0.1 -5.0 0.5 -8 -4 0 1 0

# Density Parameters:
#  <density> -the density map in MRC format
#  <density_resolution> -the resolution of the density map in A
#  <density_spacing> -the voxel spacing of the density in A
#  <density origin> - the origin of the map <x> <y> <z>
#  <density_threshold> - the threshold of the density map, used for
#                        PCA matching
#  <pca_matching_threshold> - corresponding principal components whose
#                             eigenvalues differ in less than
#                             pca_matching_threshold are considered to
#                             be a match
density_resolution 8.0
density_spacing 2.6
density_origin -43.63 -47.41 -26.63
density_threshold 0.25
pca_matching_threshold 6.0

# Log Parameters:
output multifit.output
model asmb.model


#######   Advanced Parameters   #######


# Clustering Parameters:
#  clusterParams <axis_angle_thr DEGREES> <min_cluster_size>
#                <distance_between_centers_of_mass>
clusterParams 18 1 2.0

# Base Parameters:
#  baseParams <min_base_dist> <max_base_dist>
baseParams 5.0 50.0

# Grid Parameters:
#  grid <grid_step> <max_distance> <vol_func_radius>
grid 0.5 6.0 6.0

# Surface Parameters:
#  surfacePruneTheshold - threshold for surface pruning, i.e. no 2 points with
#                         distance below this value are left for matching
surfacePruneThreshold 1.5

# Fitting Parameters:
#  fitting - number of solutions to fit
fitting 3
