.coverage
.coverage.*
*.pyc
*~
~.orig
*~
*.bak
*.old
.*.sw?
modules/*/CMakeLists.txt
modules/*/CMakeModules
modules/*/bin/CMakeLists.txt
modules/*/include/CMakeLists.txt
modules/*/pyext/CMakeLists.txt
modules/*/src/CMakeLists.txt
modules/*/benchmark/CMakeLists.txt
modules/*/compiler/CMakeLists.txt
modules/*/dependency/CMakeLists.txt
modules/*/test/CMakeLists.txt
modules/*/examples/CMakeLists.txt
applications/*/CMakeLists.txt
