*.os
*.o
*.pyc
*~
*.old
*.orig
*.gcno
*.gcda
test/CMakeLists.txt
src/CMakeLists.txt
ModuleBuild.cmake
CMakeModules/
benchmark/CMakeLists.txt
bin/CMakeLists.txt
dependency/CMakeLists.txt
examples/CMakeLists.txt
pyext/CMakeLists.txt
utility/CMakeLists.txt
*/Files.cmake
