*.os
*.o
*.pyc
*~
*.old
*.orig
*.gcno
*.gcda
test/CMakeLists.txt
src/CMakeLists.txt
CMakeLists.txt
CMakeModules/
benchmark/CMakeLists.txt
bin/CMakeLists.txt
dependency/CMakeLists.txt
examples/CMakeLists.txt
pyext/CMakeLists.txt
