body {
  background: white;
  color: #000066;
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
}

img.linkfigure {
  border: solid 1px;
  margin: 15px;
}

img.figure {
  border: none;
  margin: 15px;
}

p.centerimg {
  text-align: center;
}

div.navigation {
  border-bottom: solid 1px gray;
  font-family: Arial, Helvetica, sans-serif;
  font-size: normal;
}

p.login {
  font-size: x-large;
  color: #000066;
}
